<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SaralKhoj | View</title>
  </head>
  <body style="background-color: antiquewhite;">
    <center>
    <form action="/view" method="POST" autocomplete="off">
        <input
          type="text"
          id="search"
          name="search"
          required="required"
          placeholder="Search by district"
          autofocus
        />&nbsp;
        <input type="submit" value="Search" style="border-radius: 9px" />
    </form>
      <br /><br />
    {% for item in data %}
    <div style="border: 2px #000000 solid;padding:2px 2px ;"><a href={{ "/check-in/" + item.id|string }} style="text-decoration: none;">
        <div>
          <div style="border: 2px #3f403d solid;margin-top: 1px;margin-right: 1px;"><p>{{ item.job_desc }}</p></div>
        <div style="display: flex;">
          <div style="border: 2px #3f403d solid;margin-top: 1px;margin-right: 1px; width: 50vh;">{{ item.job_date.split("T")[0] }} </div> 
          <div style="border: 2px #3f403d solid;margin-top: 1px;margin-right: 1px; width: 50vh">{{ item.job_date.split("T")[1] }}</div>
        </div>
        <div style="display: flex;">
        <p><div style="border: 2px #3f403d solid;margin-top: 1px;margin-right: 1px; width: 33%;">{{ item.location }} </div>||<div style="border: 2px #3f403d solid;margin-top: 1px;margin-right: 1px; width: 33%;"> {{ item.district }} </div>||<div style="border: 2px #3f403d solid;margin-top: 1px;margin-right: 1px; width: 33%;"> {{ item.contact }}</div></p></div>
      </div></a></div><br><br>
    {% endfor %}
  </center>
  </body>
</html>
